# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
tmp/
out-tsc/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Angular cache
.angular/

# Environment local
src/environments/environment.local.ts
